/* @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 180%;
  }
  75% {
    background-position: 180% 200%;
  }
  100% {
    background-position: 200% 200%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  @apply tracking-wider;
}

h1 {
  @apply text-7xl font-bold tracking-tighter;
}
h2 {
  @apply text-5xl font-bold;
}

h3 {
  @apply text-xl font-semibold;
}

input[type="color"] {
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0);
  @apply rounded-md;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

.layout-bg {
  background: rgb(0, 3, 15);
  background: linear-gradient(
    180deg,
    rgba(0, 3, 15, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.logo {
  font-family: "Nunito Sans", sans-serif;
}

.ancestor-container {
  /* min-height: calc(100dvh - 56px); */
  @apply min-h-[calc(100dvh-56px)] pb-40 pt-44;
}

.ancestor-container-home {
  @apply min-h-[calc(100dvh-56px)] pt-20;
}

.screen-sized-image {
  @apply min-h-[calc(100dvh-80px)];
}

.nav-foot-margin {
  @apply mt-14;
}

.loading {
  animation: 0.8s spin infinite linear;
}

.loading-card {
  background-image: linear-gradient(
    to right,
    #999797,
    #817f80,
    #696869,
    #525252,
    #3d3d3d,
    #3d3d3d,
    #3d3d3d,
    #3d3d3d,
    #525252,
    #696869,
    #817f80,
    #999797
  );
  background-size: 200% 200%;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  animation: 1s gradientAnimation infinite linear;
  @apply h-96 w-[400px] rounded-md opacity-35;
}

.form {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  @apply mx-auto flex min-w-[420px] flex-col gap-4 rounded-md bg-secondary px-4 py-6 text-primary;
}

.account-setup-form {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  @apply mx-auto flex min-w-[480px] flex-col gap-4 rounded-md bg-secondary px-4 py-6 text-primary;
}

.home-header {
  @apply text-8xl;
}

.card-carousel-gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.4050035014005602) 50%,
    rgba(0, 0, 0, 0.8) 90%
  );
}

.home-hero-bg {
  background-image: linear-gradient(
    to bottom,
    #00030f,
    #020715,
    #030a1a,
    #040e1e,
    #031123,
    #031123,
    #031123,
    #031123,
    #040e1e,
    #030a1a,
    #020715,
    #00030f
  );
}

.product-card-button {
  @apply flex w-full items-center justify-center rounded-md bg-secondary py-3 font-semibold text-primary;
}
