/* @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  @apply tracking-wider;
}

h1 {
  @apply text-7xl font-bold tracking-tighter;
}
h2 {
  @apply text-xl font-semibold;
}

h3 {
  @apply text-4xl font-bold;
}

input[type="color"] {
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0);
  @apply rounded-md;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

.logo {
  font-family: "Nunito Sans", sans-serif;
}

.ancestor-container {
  /* min-height: calc(100dvh - 56px); */
  @apply min-h-[calc(100dvh-56px)] pb-40 pt-44;
}

.nav-foot-margin {
  @apply mt-14;
}

.loading {
  animation: 0.8s spin infinite linear;
}

.form {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  @apply mx-auto flex min-w-[420px] flex-col gap-4 rounded-md bg-secondary px-4 py-6 text-primary;
}

.account-setup-form {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  @apply mx-auto flex min-w-[480px] flex-col gap-4 rounded-md bg-secondary px-4 py-6 text-primary;
}
